.about_main_container {
  width: 100%;
  padding: 5rem 0;
}
.about_section {
  width: 100%;
  background-color: var(--color-b);

  margin: auto;
}

.about_section_inner {
  width: 90%;
  margin: auto;
  max-width: 1247px;
  display: flex;
  padding: 2% 0;
}
.about_heading {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_heading > h1 {
  font-size: 3rem;
  border-radius: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_description {
  width: 68%;
  display: flex;
  flex-direction: column;
  line-height: 18px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_desc_desc {
  text-align: justify;
  font-size: calc(1rem);
}
.about_desc_icons {
  display: flex;
  align-items: center;
  gap: 2%;
  font-size: 1.5rem;
  margin-top: 1rem;
}
#resume-button-2 {
  border: none;
  color: var(--color-c);
  background-color: var(--color-b);
  display: flex;
  align-items: center;
  padding: 0.6rem 0.7rem;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  animation: 0.3s ease-in-out;
  border: 1px solid red;
}
#resume-button-2:focus {
  animation: 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  .about_section_inner {
    flex-direction: column;
  }
  .about_heading {
    width: 100%;
    margin-bottom: -2em;
  }
  .about_description {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 481px) {
  .about_section_inner {
    flex-direction: column;
  }
  .about_heading {
    width: 100%;
    margin-top: -0.5em;
    margin-bottom: -2em;
  }
  .about_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
