.hero_home {
  width: 90%;
  max-width: 1247px;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 100px;
  align-items: center;
  padding: 5.8rem 0;
}

.hero_home_main {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
  gap: 1%;
}
.hero_home_intro {
  transition: 0.35s ease-in-out;
}

.intro_name {
  width: fit-content;
  color: var(--color-d);
  margin-bottom: -3rem;
  cursor: none;
  padding: 5px 0;
  background: -webkit-linear-gradient(#eee, #9796965b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro_name_b {
  color: var(--color-c);
  font-size: 3.5em;
  transition: 0.4s ease-out;
  cursor: none;
}
.intro_title {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin-top: -3.5rem;
  transition: 0.4s ease-out;
  cursor: none;
  letter-spacing: 4px;
}
.about_me_btn {
  background-color: var(--color-b);
  height: 40px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: var(--color-c);
  transition: 0.4s ease-out;
}
.about_me_btn:hover {
  background-color: var(--color-c);
  color: var(--color-b);
  transition: 0.3s ease-out;
}
.about_me_btn > a {
  font-size: 1rem;
}
.profile_picture {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_picture > span > img {
  width: 50%;
  border-radius: 50%;
  background-color: var(--color-c);
}

/* MEDIA QUERY */
@media screen and (min-width: 1025px) {
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  .hero_home_main {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .about_me_btn {
    margin: auto;
  }
  .hero_home_intro {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.35s ease-in-out;
  }
  .profile_picture > div:nth-child(1) > img {
    width: 20%;
  }
  .intro_name {
  }
}
@media screen and (max-width: 481px) {
  .intro_name_b {
    font-size: 2.5rem;
  }

  .hero_home_main {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .about_me_btn {
    margin: auto;
  }
  .hero_home {
    margin-top: 1rem;
    margin-bottom: 100px;
    align-items: center;
    padding: 8.8rem 0 5rem 0;
  }
  .intro_title {
    width: 100%;
    letter-spacing: 0;
    font-size: 1.2rem;
    margin-top: -2rem;
    letter-spacing: 2px;
  }
  .hero_home_intro {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
