.navbar_a_main_div {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1247px;
  margin: auto;
  align-items: center;
  padding: calc(1em) 0;
}
.navbar_part_a {
  width: 3%;
  right: 100%;
  top: 0;
}

.navbar_part_b {
  width: 50%;
  display: flex;
  gap: 2%;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-around;
}
.navbar_part_b > div > a {
  text-decoration: none;
  font-size: 0.9em;
  color: #00ff00;
}

.navbar_part_b > div > a {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.navbar_part_b > div > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  color: #00ff00;
  background-color: #00ff00;
  transition: 0.65s ease-out;
}
.navbar_part_b > div > a:hover::before {
  width: 100%;
}
.resume_btn {
  color: #00ff00;
}
.resume_btn > button {
  background: none;
  padding: 0.3rem 0.5rem;
  border: 1px solid #00ff00;
  color: #00ff00;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}
.resume_btn > button:hover {
  color: #000000;
  background-color: #00ff00;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s ease-in-out;
}
/* RESUME BTN B */
.resume_btn_b {
  color: #00ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.resume_btn_b > button {
  width: 80%;
  background: none;
  padding: 0.3rem 1rem;
  border: 2px solid #00ff00;
  color: #00ff00;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
  height: 42px;
}
.resume_btn_b > button:hover {
  color: #000000;
  background-color: #00ff00;
  transition: all 0.3s ease-in-out;
}
.ham_menu_close {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.close_icon {
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.close_icon:hover {
  background-color: #00ff000b;

  transition: all 0.3s ease-in-out;
}
/*  */
#resume-link-1 {
  display: flex;
  align-items: center;
  gap: 8px;
}
