/* NAV C */
.navbar_c_main_div {
  /* border: 1px solid rgb(255, 255, 255); */

  padding: calc(1em) 0;
}
.nav_c_inner {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navC_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navC_ham {
  width: calc(2em);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* ELLIPSIS */
/*  */
.ham_menu {
  color: var(--color-c);
  position: absolute;
  top: 55px;
  width: 230px;
  right: 1px;
  padding: 1rem 0;
  background: var(--color-e-a);
  backdrop-filter: blur(10px);
  transition: all 900ms cubic-bezier(0.9, 0, 0.33, 1);
  animation: fadeIn 250ms ease-out backwards;
}
@keyframes fadeIn {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.nav_b_redir_link_container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.nav_b_redir_link_container:hover {
  background-color: var(--color-b);
}
.nav_b_redir_link {
  margin-left: 15px;
}
/* ELLIPSIS */
.ellipsis {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.35s ease;
}
.ellipsis:hover {
  transition: 0.35s ease-in-out;
}
.ellipsis:hover {
  background-color: var(--color-b);
}
