.projects_main_container {
  width: 100%;
  margin-top: 10rem;
  background-color: var(--color-b);
  padding: 1rem 0 4rem 0;
}
.projects_heading {
  width: 90%;
  max-width: 1247px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: var(--color-c);
  margin-bottom: 3rem;
}

.project-title {
  color: var(--color-d);
}

.project-description {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects_main {
  width: 90%;
  margin: auto;
  max-width: 1247px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 40px;
}
.project_card_main {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--color-a);
  box-shadow: rgba(0.2, 0.2, 0.2, 0.4) 2px 2px 4px,
    rgba(0.2, 0.2, 0.2, 0.3) 0px 7px 13px -3px,
    rgba(0.1, 0.1, 0.1, 0.2) 0px -3px 0px inset;
  border-right: 4px solid var(--color-c);
  /*  */
}
.project_number_a {
  color: var(--color-c);
  font-size: 3rem;
}
.project_card_div_a {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_card_dsgn_b > p {
  font-size: small;
}

.project_card_div_a > img {
  width: 80%;
  background-color: var(--color-b);
  filter: brightness(90%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.3s ease-in-out;
}
.project_card_div_b {
  width: 49%;
}
.project_card_div_b > h4 {
  color: var(--color-c);
}
.project_card_div_b > p {
  color: var(--color-d);
  font-size: small;
}
.all_tech_stack_used {
  color: var(--color-d);
  display: flex;
  font-size: 1.5rem;
  gap: 10px;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 3rem;
}
.project-tech-stack > div {
  padding: 0.4rem 1.5rem;
  color: var(--color-c);
  background-color: var(--color-c-b);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: small;
}
.project-tech-stack > div:hover {
  background-color: var(--color-c);
  color: var(--color-b);
}
.project-tech-stack > p:hover {
  color: var(--color-c);
  background-color: var(--color-b);
  transition: 0.3s ease-in-out;
}
.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.buttons_container > button {
  height: 35px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  border: none;
  background-color: var(--color-c);
  color: var(--color-a);
  cursor: pointer;
  transition: 0.4s ease-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.buttons_container > button:hover {
  background-color: var(--color-c);
  color: var(--color-b);
  padding: 0 2.2rem;
  transition: 0.3s ease-out;
}
/* MEDIA QUERY */
@media screen and (min-width: 1024px) {
  .project-tech-stack {
    margin-top: 3rem;
  }
  .project_card_main {
    padding: 0;
    border-right: none;
    align-items: normal;
    justify-content: space-between;
    /* align-items: flex-start; */
  }
  .project_card_div_a {
    width: 40%;
    padding: 1.5rem 0;
    border-top: 4px solid var(--color-c);
    background-color: var(--color-c-a);
  }

  .project_card_div_b {
    width: 55%;
    height: 100%;
  }
  .project_card_dsgn_a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-d);
  }
  .project_card_dsgn_a > div:nth-child(1) {
    border-top: 4px solid var(--color-c);
    background-color: var(--color-c-a);
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .project_card_dsgn_a > div:nth-child(1) > h1 {
    margin: 0;
    margin-top: 2rem;
  }
  .project_card_dsgn_a > div:nth-child(2) {
    width: 70%;
    padding: 3rem 0;
  }
  .project-title {
    letter-spacing: 2px;
    font-size: 1.4rem;
  }
  .project_card_dsgn_b {
    display: none;
  }

  .project_number_b {
    display: none;
  }

  .project_number_a {
    margin-top: -1rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  .project_card_dsgn_a {
    display: none;
  }
  .project_card_dsgn_b {
    color: #ffffff;
  }
  .project_card_main {
    flex-direction: column;
    border-right: none;
    border-bottom: 4px solid var(--color-c);
  }
  .project_card_div_a {
    width: 90%;
    margin-bottom: 1rem;
  }
  .project_card_div_a > img {
    width: 100%;
  }
  .project_card_div_b {
    width: 90%;
  }
  .project_number_a {
    display: none;
  }
  .project_number_b {
    color: var(--color-c);
    font-size: 3rem;
    align-self: flex-start;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 481px) {
  .project_card_dsgn_a {
    display: none;
  }
  .project_card_dsgn_b {
    color: var(--color-d);
  }
  .project-title {
    letter-spacing: 1px;
    font-size: 1.1rem;
  }
  .project-description {
    color: var(--color-d);
    margin-bottom: 2rem;
    font-weight: 0;
  }
  .project_card_main {
    flex-direction: column;
    border-right: 4px solid #00ff0000;
    border-bottom: 4px solid var(--color-c);
    border-right: none;
  }
  .project_card_div_a {
    width: 90%;
    margin-bottom: 1rem;
  }
  .project_card_div_a > img {
    width: 100%;
  }
  .project_card_div_b {
    width: 90%;
  }
  .project_number_a {
    display: none;
  }
  .project_number_b {
    color: var(--color-c);
    font-size: 3rem;
    align-self: flex-start;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .project_card_div_b > h1 {
    border: 1px solid red;
  }
  .buttons_container {
    justify-content: space-between;
  }
  .projects_heading {
    margin-bottom: 1.5rem;
  }
  .project_card_div_b > p {
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
  }
  .project-tech-stack {
    margin-bottom: 2rem;
  }
}
